.container-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 100px;
    width: 100vw;
    height: 100vh;
}

.sub-container-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #F5F5F5;
}

.title{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.error-msg{
    color: red;
    margin-top: 40px;
}

.auth-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 25px;
    background-color: #F5F5F5;
}

.auth-form input{
   border: none;
   border-bottom: 1px solid black;
   background-color: #F5F5F5;
   padding: 5px;
   font-size: 20px;
   width: 70vw;
}

  .button {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-radius: 100px;
    padding: 10px;
    width: 150px;
    border: none;
    color: white;
    background-color: #303030;
    cursor: pointer;
    margin-top: 25px;
}

.button:active{
    background-color: #454545;
}

.button:disabled {
    background-color: rgb(168, 168, 168);
}

@media (min-width: 600px){
    .auth-form input{
        width: 35vw;
    }
}