.container-dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    width: 96vw; 
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    gap: 25px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}

.sub-container-dashboard-header {
    display: flex;
    align-items: center;
    margin-left: -40px;
    /* border: 1px blue solid; */
}

.hours-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 193, 36);
    height: 5em;
    width: 5em;
    padding: 2em;
    border-radius: 100%;
    margin-bottom: -20px;
}

.hours-number {
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.hours-text {
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.project-title-container{
    padding: 0em;
    width: 14em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: -25px;
    margin-left: 50px;
    margin-right: 5px;
    /* border: 1px red solid; */
}

.project-title-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5px;
    height: 20px;
    margin-top: -10px;
    /* border: 1px red solid; */
}

.projectTitle {
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bold;
    width: 150px;
    word-wrap: break-word;
    /* border: 1px solid rgb(17, 0, 255) */
}

.title-input-dashboard{
    width: 7em;
    height: 1.5em;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
    /* border: 1px solid rgb(4, 255, 0); */
}

.save-button{
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    border-radius: 50px;
    padding: 10px;
    padding-top: -50px;
    width: 5em;
    height: 2em;
    text-align: center;
    line-height: 0;
    background-color: black;
    margin-left: 5px;
    cursor: pointer;
}

.edit-button{
    margin-top: -15px;
    margin-left: 2px;
    width: 20px;
    cursor: pointer;
}

.addTask-button {
    color: white !important;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    border-radius: 50px;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: black;
    margin-left: 25px;
    margin-right: 108px;
    margin-bottom: -10px;
    cursor: pointer;
}

.reset_button{
    margin-top: 10px;
    margin-left: -4px;
    cursor: pointer;
}

@media (min-width: 1400px){
    .container-dashboard-header {
        border-radius: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        padding-left: 50px;
        padding-right: 50px;
        gap: 0;
    }
    .sub-container-dashboard-header {
        margin-left: 0px;
        align-items: center;
        gap: 100px;
    }
    .edit-button{
        margin-left: 0px;
    }
    .project-title-container{
        margin: 0;
        width: 440px;

        /* transform: scale(1.10); */
    }
    .project-title-form{
        margin: 0;
        width: 350px;
        margin-left: 60px;
    }
    .projectTitle {
        margin: 0;
        margin-left: -407px;
        width: 360px;
        font-size: 45px;
    }
    .title-input-dashboard{
        margin: 0;
        margin-top: -40px;
        margin-left: -62px;
        width: 360px;
        font-size: 45px;
    }
    .save-button{
        margin-top: -35px;
        margin-left: 0px;
    }
    .hours-container {
        margin: 0;
        transform: scale(1.50);
    }
    .addTask-button {
        margin: 0;
        transform: scale(1.60);
        margin-right: 150px
    }
    .reset_button{
        margin: 0;
        margin-right: 10px;
        transform: scale(1.80);
    }
      
}