.homepage_banner{
    /* border: solid;
    border-color: red; */
    padding: 20px;
    position: relative;
}

.homepage_banner img{
    /* width: 50%;
    height: 50%; */
    
    width: 100%;
    height: auto;
    /* filter: brightness(30%); */
    border-radius: 25px;
    /* margin-left: 9px; */
    /* padding-left: 9px; */
}


.homepage_banner .slogan{
  position: absolute;
  top: 50%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* background-color: #555; */
  color: rgb(255, 255, 255);
  opacity: 68%;
  font-size: 150px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .homepage_banner .btn:hover{
  background-color: black;
} */

.howTo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 80px;
}

.howTo_copy{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.howTo_Pics{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 250px;
  margin-bottom: 200px;
}

.howTo_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.howTo_container img{
  width: 350px;
  height: 300px;
  border: 1px rgb(213, 213, 213) solid;
  border-radius: 25px;
  padding: 30px;
}

.howToTitle{
  font-weight: bold;
  text-align: center;
}

.howTo_Pics span{
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 20px;
  margin-top: 80px;
  /* border: 1px red solid; */
  min-width: 300px;
}

@media (max-width: 1000px){

  .homepage_banner img{
    height: 600px;
    /* transform: scale(1.05); */
  }

  .homepage_banner .slogan{
    transform: scale(0.30);
    text-align: center;
    top: 15.5%;
    left: -0.75%;
    
  }

  .howTo_copy{
    transform: scale(0.80);
    text-align: center;
  }

  .howTo_Pics{
    flex-direction: column;
    gap: 1px;
  }
}

.copyright{
  font-size: 25px;
}